@using _40k2ed.Models.EntityModels
@using _40k2ed.Models.DisplayModels
@model _40k2ed.Models.DisplayModels.WeaponTable

<div class="table-responsive">
	<table class="table weapontable table-hover" id="sortableTable">
		<thead>
			<tr>
				<td class='title text-center align-bottom' colspan=100%>
					<h1>
						@($"{Model.WeaponType.Name}s")
					</h1>
				</td>
			</tr>
			<tr>
				<th class="sortable" rowspan="2" onclick="sortTable(0)">Weapon</th>
				<th class="sortable" colspan="2">Range</th>
				<th class="sortable" colspan="2">To Hit</th>
				<th class="sortable" rowspan="2" onclick="sortTable(5)">Strength</th>
				<th class="sortable" rowspan="2" onclick="sortTable(6)">Damage</th>
				<th class="sortable" rowspan="2" onclick="sortTable(7)">Save<br />Mod.</th>
				<th class="sortable" rowspan="2" onclick="sortTable(8)">Armour<br />Pene.</th>
				<th class="" rowspan="2">Special</th>
			</tr>
			<tr>
				<th class="sortable" onclick="sortTable(1)">Short</th>
				<th class="sortable" onclick="sortTable(2)">Long</th>
				<th class="sortable" onclick="sortTable(3)">Short</th>
				<th class="sortable" onclick="sortTable(4)">Long</th>
			</tr>
		</thead>
		<tbody>
			@foreach (WeaponWithAllRules row in Model.Weapons)
			{
				<tr>
					<td class="text-start">@row.Weapon.Name</td>
					<td class="text-center">@row.Weapon.ShortRangeStart</td>
					<td class="text-center">@row.Weapon.LongRangeStart</td>
					<td class="text-center">@row.Weapon.ToHitShort</td>
					<td class="text-center">@row.Weapon.ToHitLong</td>
					<td class="text-center">@row.Weapon.Strength</td>
					<td class="text-center">@row.Weapon.Damage</td>
					<td class="text-center">@row.Weapon.SaveModifier</td>
					<td class="text-center">@row.Weapon.ArmourPenetration</td>
					<td class="text-start">
						@foreach (WeaponRule rule in row.SpecialRules)
						{
							@rule.Name
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
